<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Panther Votes</h1>
    <p class="lead">Choose your portal below.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/admin" role="button">Admin</a>
    <a class="btn btn-dark btn-lg" href="/voter" role="button">Voter</a>

  </div>
</div>

<%- include('partials/footer') %>
